body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(22, 21, 21);
    color: rgb(94, 23, 226);
}
#snake{
    background-color: black;
}
