body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(22, 21, 21);
    color: rgb(94, 23, 226);
}
h1{
    margin-top: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.596), lightgrey);
    color: white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-shadow: 2px 2px 2px rgba(255, 0, 0, 0.514);
    width: 40%;
    text-align: center;
}
.nav-footer{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.678), lightgrey);
}
.nav-footer a{
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    background-image: linear-gradient(rgba(60, 101, 190, 0.678), rgba(83, 50, 50, 0.445));
}
.nav-footer a:hover{
    color:darkblue;
}
footer p{
    color: white;
    text-shadow: 2px 2px 2px rgba(255, 0, 0, 0.651);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: oblique;
}